//
//  Release.xcconfig
//  sypNotch
//
//  Created by Paula on 31/8/25.
//

#include? "Config/Local.xcconfig"

// --- Firma & bundle ---
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_ID)
PROVISIONING_PROFILE_SPECIFIER =
PRODUCT_BUNDLE_IDENTIFIER = com.tuorg.tuapp$(BUNDLE_ID_SUFFIX)

// --- Build (Release) ---
SWIFT_ACTIVE_COMPILATION_CONDITIONS =
ENABLE_NS_ASSERTIONS = NO
SWIFT_OPTIMIZATION_LEVEL = -O

